<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.backendmanagement.mapper.SysCustomerMapper">
    <resultMap id="CustomerMap" type="sysCustomer">
        <id column="open_id" property="openId"></id>
        <result column="avatar" property="avatar"/>
        <result column="nick_name" property="nickName"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="sum" property="sum"/>
        <result column="is_member" property="isMember"/>
        <result column="expire_time" property="expireTime"/>
        <result column="latest_time" property="latestTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- ===========================查询================================ -->
    <select id="getCustomer" resultMap="CustomerMap">
        SELECT *
        FROM sys_customer
        WHERE open_id = #{value}
    </select>

    <select id="getAllCustomer" resultMap="CustomerMap">
        SELECT *
        FROM sys_customer
    </select>

    <!-- ===========================增、删、改================================ -->
    <insert id="addCustomer" parameterType="sysCustomer">
        INSERT INTO sys_customer(open_id, avatar, nick_name)
        VALUES (#{openId}, #{avatar}, #{nickName})
    </insert>

    <update id="updatePhoneNumber">
        UPDATE sys_customer SET phone_number=#{phoneNumber} WHERE open_id=#{openId}
    </update>
</mapper>