<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.backendmanagement.mapper.SysGoodsMapper">
    <resultMap id="BaseResultMap" type="cn.edu.guet.backendmanagement.bean.SysGoods">
        <id column="goods_id" jdbcType="BIGINT" property="id"/>
        <result column="goods_name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="isSale" jdbcType="TINYINT" property="isSale"/>
        <result column="goods_remark" jdbcType="VARCHAR" property="remark"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
        <collection property="type" resultMap="TypeResultMap">
        </collection>
    </resultMap>
    <resultMap id="TypeResultMap" type="cn.edu.guet.backendmanagement.bean.SysCategory">
        <id column="category_id" jdbcType="BIGINT" property="id"/>
        <result column="category_name" jdbcType="VARCHAR" property="name"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="category_remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        SELECT g.goods_id, c.*, goods_name, price, isSale, goods_remark, picture
        FROM sys_goods g, sys_category c, sys_goods_category gc
        WHERE g.goods_id=gc.goods_id AND c.category_id=gc.category_id
    </sql>
    <insert id="insertGoods">
        INSERT
        INTO sys_goods(goods_id, goods_name, price, isSale, goods_remark, picture)
        VALUES(#{id},#{name},#{price},#{isSale},#{remark},#{picture})
    </insert>
    <insert id="insertGC">
        INSERT
        INTO sys_goods_category(id,goods_id,category_id)
        VALUES(#{id},#{id},#{type})
    </insert>
    <delete id="deleteGoodsById">
        DELETE
        FROM sys_goods
        WHERE goods_id=#{value}
    </delete>
    <delete id="deleteGCByGId">
        DELETE
        FROM sys_goods_category
        WHERE goods_id=#{value}
    </delete>
    <delete id="deleteCategoryById">
        DELETE
        FROM sys_category
        WHERE category_id=#{value}
    </delete>
    <delete id="deleteGCByCId">
        DELETE
        FROM sys_goods_category
        WHERE category_id=#{value}
    </delete>
    <select id="findAll" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        ORDER BY g.goods_id
    </select>
    <select id="selectByIsSale" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        AND isSale=#{value}
        ORDER BY g.goods_id
    </select>
    <select id="selectByType" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        AND c.category_id=#{value}
        ORDER BY g.goods_id
    </select>
    <select id="selectByPrice" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        AND price &lt;= #{value}
        ORDER BY g.goods_id
    </select>
    <select id="selectByMsg" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        AND CONCAT(IFNULL(g.goods_id,''), IFNULL(goods_name,''), IFNULL(goods_remark,''))
        LIKE #{msg}
        ORDER BY g.goods_id
    </select>
    <select id="selectByAllMsg" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        AND isSale=IFNULL(#{isSale},isSale) AND c.category_id=IFNULL(#{typeId},c.category_id) AND price &lt;= IFNULL(#{price},price)
        AND CONCAT(IFNULL(g.goods_id,''), IFNULL(goods_name,''), IFNULL(goods_remark,''))
        LIKE #{msg}
        ORDER BY g.goods_id
    </select>

    <select id="findAllType" resultMap="TypeResultMap">
        SELECT *
        FROM sys_category
        ORDER BY category_id
    </select>
    <select id="selectById" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        AND g.goods_id=#{value}
        ORDER BY g.goods_id
    </select>

</mapper>