<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.backendmanagement.mapper.SysGoodsMapper">
    <resultMap id="BaseResultMap" type="cn.edu.guet.backendmanagement.bean.SysGoods">
        <id column="goods_id" jdbcType="BIGINT" property="id"/>
        <result column="goods_name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="isSale" jdbcType="TINYINT" property="isSale"/>
        <result column="goods_remark" jdbcType="VARCHAR" property="remark"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
        <collection property="type" ofType="sysCategory">
            <result column="category_name" property="name"></result>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        SELECT g.goods_id, category_name, goods_name, price, isSale, goods_remark, picture
        FROM sys_goods g, sys_category c, sys_goods_category gc
        WHERE g.goods_id=gc.goods_id AND c.category_id=gc.category_id
    </sql>
    <delete id="deleteGoodsById">
        DELETE
        FROM sys_goods
        WHERE goods_id=#{value}
    </delete>
    <delete id="deleteGCByGId">
        DELETE
        FROM sys_goods_category
        WHERE goods_id=#{value}
    </delete>
    <delete id="deleteCategoryById">
        DELETE
        FROM sys_category
        WHERE category_id=#{value}
    </delete>
    <delete id="deleteGCByCId">
        DELETE
        FROM sys_goods_category
        WHERE category_id=#{value}
    </delete>
    <select id="findAll" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        ORDER BY g.goods_id
    </select>
    <select id="selectByIsSale" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        AND isSale=#{value}
        ORDER BY g.goods_id
    </select>
    <select id="selectByType" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        AND category_name=#{value}
        ORDER BY g.goods_id
    </select>
    <select id="selectByPrice" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        AND price &lt;= #{value}
        ORDER BY g.goods_id
    </select>
    <select id="selectByMsg" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        AND CONCAT(IFNULL(g.goods_id,''), IFNULL(goods_name,''), IFNULL(goods_remark,''))
        LIKE #{msg}
        ORDER BY g.goods_id
    </select>

    <resultMap id="TypeResultMap" type="cn.edu.guet.backendmanagement.bean.SysCategory">
        <id column="category_id" jdbcType="BIGINT" property="id"/>
        <result column="category_name" jdbcType="VARCHAR" property="name"/>
        <result column="category_remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <select id="findAllType" resultMap="TypeResultMap">
        SELECT *
        FROM sys_category
        ORDER BY category_id
    </select>

</mapper>